body{
  margin: 0;
  background-color: #9efa9e;
}
* {
  box-sizing: border-box;
}
.header{
  color: #c4dfe5;
  background-color:  #4a844a;
  text-align: center;
  width: 100%;
  line-height: 2em;
  font-size: 2.5em;
  font-weight: bold;
  margin: 0;
}
.imgProfile{
  float: left;
  padding: 50;
  text-align: center;
  width: 40%;
  padding: 50px;
}
.img{
  margin: auto;
}
.img img{
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 0 20px grey;
}
.discription{
  width: 100%;
  color: rgb(224, 210, 210);
  background-color: #4a844a;
  border: 3px solid white;
  border-radius: 15px;
  word-wrap: break-word;
  box-shadow: 0 0 20px grey;
}
.about ,.about2{
  padding: 30px 20px;
  float: left;
  width: 30%;
  margin-top: 10px;
}
.about ul,about2 ul{
   list-style: none;
   padding: 10px 10px 15px 20px;
}
.Formations{
  padding: 6px;
  float: none;
  display: table;
  width: 90%;
  margin: auto;
}
.ctitle{
  width: 540px;
  margin: 12px auto;
  text-align: center;
  padding: 15px 10px;
  color: rgb(224, 250, 210);
  background-color: #4a844a;
  border: 3px solid white;
  border-radius: 5px;
}
.footer{
  height: 100px;
  width: 100%;
  background-color: #2b4b2b;
}
@media only screen and (max-width: 1100px){
  .imgProfile {
    width: 60%;
    margin: 0 0;
  }
  .about ,.about2{
    display: block;
    width: 40%;
    padding: 40px 0px 15px 5px;
  }
  .about2{
    position: absolute;
    top: 300px;
  }
}

@media only screen and (max-width: 800px){
  .imgProfile {
    width: 60%;
    margin: 0 0;
  }
  .about{
    display: block;
    width: 40%;
    padding: 40px 0px 15px 5px;
  }
  .about2{
      position: static;
      width: 100%;
      padding: 0 25px 35px 25px;
  }
  .ctitle{
    width: 350px;
  }
}

@media only screen and (max-width: 500px){
  .imgProfile {
    width: 100%;   
    margin: auto;
  }
  .header{
  font-size: 2em;
  }
  .about , .about2{
      width: 100%;
      padding: 15px 10px;
  }
  .ctitle{
    width: 300px;
  }
}