a{
  font-size: 30px;
}
a:link{color: #696;
text-decoration: none;
background-color: transparent }
a:visited{ color: #699;
text-decoration: none;
background-color: transparent }
a:hover{ color: #c93;
text-decoration: underline;
background-color: transparent }
a:active{ color: #900;
text-decoration: underline;
background-color: transparent }